/* iPhone 11 Pro Max - 1 */
body{

}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.home-page{
    grid: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.game-logo h1{
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(19, 19, 94);
}

.home-page img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}
.home-page h3{
    margin-bottom: 50px;
}
.home-page a{
    background-color: #a71d1d; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    width: 100px;
    height: 30px;
}
#column3 svg{
    opacity: 0;
    transform: translate(136px, -10px)
}
#column1 svg{
    opacity: 0;
    transform: translate(-136px, 470px);
}

.pick_choice_title{
    grid: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.pick_choice_title a{
    margin-top: 80px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #a71d1d; 
    border: none;
    padding: 2vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

.column p{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.pick_choice_title a:hover{
    transition: ease;
    border: #51A1BA;
    color: crimson;
    background-color: whitesmoke;
    border: 20px;
    border-color: #a71d1d;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
label.logo{
    display: none;
}
.nav-wrapper{
    display: none;
}
.cellphone_options{
    display: none;
}
a.active-nav-link,a:hover{
    background: crimson;
    transition: 0.5s;
}

@media(max-width: 580px){
    .nav-wrapper{
        display: block;
        background: #51A1BA;
        height: 102px;
        width: 900px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 1152vh;
        background: #51A1BA !important;
        top: 70px;
        left: -105%;
        text-align: center;
        transition: all 0.5s;
    }
    .nav-wrapper ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav-wrapper ul li a{
        font-size: 20px;
        margin-top: 150px;
        margin-bottom: 25px;
        margin-right: 100px;
        background: #a71d1d; 
        border: none;
        padding: 40px 80px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        width: 200px;
        height: 20px;
        border-radius: 40px;
        cursor: pointer;
        color: white;
        font-weight: 600;
    }
    a.active-nav-link{
        background: white;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label.logo{
        display: inline;
        color: lightcyan;
        font-size: 60px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }

    .column {
        float: left;
        width: 33.33%;
        text-align: ;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .home-page{
        grid: 1px;
        text-align: center;
    }
    
    .home-page img{
        display: block;
        margin-left: 100px;
        margin-right: 100px;
        width: 450px;
        height: 450px;
    }
    .game-logo{
        font-size: 6vw;
        margin-left: 150px;
        margin-right: 300px;
        margin-top: 350px;
        margin-bottom: 80px;
        white-space: nowrap;
    }
    #column2 h3{
        font-size: 6vw;
        margin-left: 150px;
        margin-right: 300px;
        left: auto;
        right: auto;
        white-space: nowrap;
    }
    #column2 a{
        margin-left: 250px;
        margin-right: 300px;
    }

    #column3 svg{
        opacity: 20;
        transform: translate(235px, -5px)
    }
    #column1 svg{
        opacity: 20;
        transform: translate(-10px, 1140px);
    }
    
    .home-page a{
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: #a71d1d; 
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
        cursor: pointer;
        color: white;
        display: inline-block;
        font-size: 18px;
        width: 100px;
        height: 30px;
    }
    #column02 .quiz_option_image img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 250px;
        margin-top: 50px;
        margin-left: 150px;
        margin-bottom: 80px;
    }
    #column02 .expand_your_knowledge_img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 310px;
        height: 250px;
        margin-top: 50px;
        margin-left: 150px;
        margin-bottom: 80px;
    }
    #column02 .checklist_img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 310px;
        height: 250px;
        margin-top: 50px;
        margin-left: 150px;
        margin-bottom: 80px;
    }
    #column02 .pick_choice_title1 h1{
        margin-top: 90px;
        margin-left: 200px;
        white-space: nowrap;
    }
    .cellphone_options #column1 svg{
        transform: translate(-10px, 1040px);
    }
    #column02 .pick_choice_title1 p{
        margin-left: 150px;
        margin-right: 250px;
        margin-bottom: 5px;
        font-weight: 600px;
        font-size: 20px;
        white-space: nowrap;
    }
    .pick_choice_title{
        display: none;
    }
    .cellphone_options{
        display: inline;
    }
    a:hover,a.active-nav-link{
        background: whitesmoke;
        color: blue;
    }
}

/* button */

position: absolute;
width: 255px;
height: 65px;
left: 79px;
top: 671px;



/* Rectangle 2 */

position: absolute;
width: 255px;
height: 65px;
left: 79px;
top: 671px;

background: #51A1BA;
border-radius: 27px;


/* Get Started */

position: absolute;
width: 134px;
height: 31px;
left: 139px;
top: 688px;

font-family: PT Sans Caption;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
/* identical to box height */

color: #FFFEFE;

